[2014-04-19 15:39] johnhamelink opened #1 "Add Tests for Service Class"
Currently there are no tests for the Service class.

[2014-10-29 02:58] ross-w opened #5 "Provide all responses for service.get"
When running Diplomat::Service.get() only the first result is returned.
It would be handy if there was a way to return all services as provided by the returned JSON from the API.

Maybe in the interests of backward compatibility an additional "all" parameter could be required in order to do this? Thoughts?

[2014-11-13 22:52] #5 closed, assigned to nobody

[2014-11-13 23:04] #1 closed, assigned to nobody

[2014-11-16 21:11] cixelsyd opened #7 "please consider my enhancements for inclusion in your next gem version"
Hello John!  Thanks so much for your nicely done diplomat gem.  I've begun using it, along with consul and consul-template, and am very happy.  I wrote a new class, and a few new methods, that I'd like you to review for inclusion.  Sorry - my workstation is old, so I'm not setup to do pull requests, and haven't begun writing tests yet... that's the next hurdle I hope to attack shortly.

In the mea

[2014-11-17 05:49] johnhamelink opened #8 "Add ModifyIndex & X-Consul-Index to all responses"
@cablehead (who is the author of [python-consul](https://github.com/cablehead/python-consul/)) mentioned on twitter that adding ModifyIndex & X-Consul-Index should be considered.

But first we need to decide how best to add this functionality in without breaking things too much.

@cablehead - any comments? :smile:

[2014-11-18 04:53] ross-w opened #9 "Option to specify logger"
The following line:
https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/rest_client.rb#L18
sends all output to STDOUT.

That's all well and good in a Rails app, but when running from a commandline Ruby script this pollutes the output to the terminal. It would be great if there was a way to specify the log output to go elsewhere, or at the very least suppress it entirely.
#### Todo:

[2014-11-20 17:30] #9 closed, assigned to nobody

[2015-01-07 03:39] galthaus commented on #8
How about this?

Get signature:
get(key, scope=:first, options={})
Input:
 options[:index] = string
 options[:wait] = string time component
Return
 options[:index] is modified on return to be the returned index.

This keeps get happy, doesn't change too much code, gives access to all values over time.  The options seems to be the ruby-ish standard way to pass in info and deal with expansion.  We c

[2015-01-07 12:59] johnhamelink commented on #8
@galthaus looks nice :+1:

Looking forward to seeing that PR!

[2015-01-07 23:46] #8 closed

[2015-01-07 23:46] johnhamelink commented on #8
Solved thanks to #11

[2015-01-07 23:54] johnhamelink commented on #8
Released in version 0.2.2: https://rubygems.org/gems/diplomat/versions/0.2.2

[2015-02-24 11:09] #7 closed

[2015-02-24 11:09] johnhamelink commented on #7
Marking this as closed due to inactivity.

[2015-03-04 19:41] kuzmik opened #15 "Using (or not) proxies with Diplomat"
We have a weird situation in that we need to use a proxy for some traffic and not for other traffic.

Diplomat (or farady in this case?) seems to pick up my ENV["HTTP_PROXY"] variables and is using that; I want diplomat to NOT use the proxy.

Is there a way to easily disable the proxy?

[2015-03-04 21:38] johnhamelink commented on #15
Hey @kuzmik,

First of all, thanks for using diplomat! Thats an interesting use case, not something I've come across before. I'll take a look a little later to see if I can come up with a solution for you.

JH

[2015-03-05 16:10] johnhamelink commented on #15
Hey @kuzmik

Using Faraday on its own you can set a proxy as such:

[code]

[2015-03-05 18:41] kuzmik commented on #15
Sure, I will give it a whirl sometime today and let you know what happens!

[2015-03-11 20:42] kuzmik commented on #15
Setting to nil doesn't do the trick... but setting it to '' does. Weird.

`[16] pry(main)> conn = Faraday.new(:url => 'https://localhost:30570', :proxy => nil).proxy
=> #<struct Faraday::ProxyOptions
 uri=#<URI::HTTP:0x00000002530b40 URL:http://webproxy.vip.sjc1.square:3128>,
 user=nil,
 password=nil>

[17] pry(main)> conn = Faraday.new(:url => 'http://localhost:30570', :proxy => '').proxy
=> #<st

[2015-03-24 22:51] mcansky opened #20 "404 and Exception if key is missing"
At the moment a ```Diplomat.get('foo')``` raise an exception if the 'foo' key does not exist in the key/value store.

This looks like an odd behaviour as I was expecting a ```nil``` value (as would Redis or Memcached do for example).

I understand #16 do some work around this very thing but does not seem to change the end behavior. Is there any reason why the exception is raised rather than return

[2015-04-04 10:03] mcansky commented on #20
see https://github.com/WeAreFarmGeek/diplomat/pull/22

[2015-04-23 00:46] thedebugger opened #26 "Calls to Diplomat::Service fail with uninitialized constant Diplomat::Service::OpenStruct"
I think we need to add `require 'ostruct'`. Weird that no one ran into this issue. Thoughts?

[2015-05-01 10:55] johnhamelink commented on #26
Hey @thedebugger thanks for this! I will look into it on the weekend and see why the tests aren't failing before we try and fix this.

[2015-05-04 09:02] guymaliar opened #27 "Faraday gem breaks SSL connections on 0.6.1"
Hey guys, first I got to say that it's a great gem!
Unfortunately I found a bug that I can not pinpoint exactly what causes it, in my opinion it's related to Faraday but I couldn't find the commit that updated the Faraday gem.

What basically happens is that when I'm using version 0.5.1 I am able to use Diplomat with a middleware to talk to consul over SSL but with 0.6.1 I can not.

I'm using a se

[2015-05-04 09:49] johnhamelink commented on #27
Hey there, thanks for this detailed report! It's a holiday today here in Scotland so I'm planning on sorting all of the outstanding issues and releasing a new version today.

Thanks for using diplomat!
JH

[2015-05-04 10:56] johnhamelink commented on #26
@thedebugger it's strange that I'm not getting any error when I'm running the specs, and both the code and the specs use openstruct quite regularly.

I also tried querying for a service from irb:

[code]
[code]

[2015-05-04 11:22] johnhamelink commented on #27
For reference, here's a comparison between 0.5.1 and 0.6.1:

https://github.com/WeAreFarmGeek/diplomat/compare/c77985b96b641843f8107f0ae018af985b2642f9...6171639aff01cf35bd36e4dba81b74f888b3adba

[2015-05-04 11:24] guymaliar commented on #27
I looked at the comparison when I was investigating but I didn't thoroughly go over it, it seems that this might be the first place to look for changes, diplomat/lib/diplomat/rest_client.rb

[2015-05-04 11:30] johnhamelink commented on #27
@guymaliar have you tried adding the ca_path to the faraday config? Check here under Ubuntu: https://github.com/lostisland/faraday/wiki/Setting-up-SSL-certificates

If that doesn't work, can you try removing "faraday.adapter  Faraday.default_adapter" and running again? I'd do that but I'm on a mac right now with limited battery :smile:

[2015-05-04 11:34] guymaliar commented on #27
:+1: I will have a go at both, will take me an hour or so though

[2015-05-04 11:36] johnhamelink commented on #27
Cool, let me know how it goes either way - we'll get to the bottom of it :smile:

[2015-05-04 11:38] guymaliar commented on #27
@johnhamelink actually it was faster than I thought,
I commented out the `faraday.adapter Faraday.default_adapter` and it now returns `/src/research/diplomat/gem/lib/diplomat/kv.rb:60:in `get': status  (Diplomat::UnknownStatus)`

This looks the error message that should be returned.

Thoughts?

[2015-05-04 20:52] johnhamelink commented on #15
Hey @kuzmik sorry I didn't get back to this message - how rude of me!

It seems based on what you sent me that the issue is with Faraday, not with diplomat - if you find that's not the case please reopen this thread and I'll work with you to get the problem resolved.

Thanks!
JH

[2015-05-04 20:52] #15 closed

[2015-05-05 19:40] thedebugger commented on #26
@johnhamelink, rspecs works fine. And, what gems did you load in 'irb'? I think you will be able to replicate the problem when the application (and it dependencies) doesn't require 'ostruct'. To workaround, I added `require 'ostruct'` in my application and calls work fine.

[2015-05-05 19:43] johnhamelink commented on #26
@thedebugger other than cd'ing into the diplomat source, I'm not doing anything other than what I described in the comment above... I will explicitly include ostruct if this solves your issue, but I'm still not 100% on why its not happening for anyone else...

[2015-05-05 19:59] thedebugger commented on #26
hmm..let me see if I can replicate it.

[2015-05-05 20:08] johnhamelink commented on #26
Thanks @thedebugger :)

[2015-05-06 14:42] jdrago999 opened #29 "v0.7.0 breaks Diplomat::Service.get(...)"
Hi -

Starting with v0.7.0, the following breaks:

    require 'diplomat'
    Diplomat::Service.get('mysql').Address

You get the following error:

    ArgumentError: wrong number of arguments (0 for 1..4)
	   from /var/lib/gems/2.0.0/gems/diplomat-0.7.0/lib/diplomat/service.rb:13:in `get'
	    from /var/lib/gems/2.0.0/gems/diplomat-0.7.0/lib/diplomat/service.rb:47:in `get'

After downgrading to v

[2015-05-07 15:52] johnhamelink commented on #29
Hey @jdrago999 thanks for this.

You were right in your comment that those lines are the issue. The next release I make will fix this for you. I'll let you know when that release happens (today).

[2015-05-07 15:53] johnhamelink commented on #26
How did you get on @thedebugger ?

[2015-05-07 16:07] #29 closed

[2015-05-07 16:08] johnhamelink commented on #29
[Released fix as 0.8.2](https://rubygems.org/gems/diplomat/versions/0.8.2)

[2015-05-07 16:09] johnhamelink commented on #27
Hey @guymaliar - how did you get on before? Did you manage to find a fix?

[2015-05-07 16:10] johnhamelink commented on #20
see #31

[2015-05-07 16:10] #20 closed

[2015-05-07 16:33] thedebugger commented on #26
Didn't get a chance to reproduce it, yet.

—
Sent from Mailbox

On Thu, May 7, 2015 at 9:23 PM, John Hamelink <notifications@github.com>
wrote:

[2015-05-07 16:33] johnhamelink commented on #26
Cool, let us know when you get round to it :+1:

[2015-05-09 17:14] mikeys opened #32 "Diplomat::Kv.get("unexistent_key", nil, :wait, :wait) raises an error when key does not exist"
Trying to fetch a non existent key from Consul's Key/Value store using the following:
[code]
Raises the following error:
`Faraday::ResourceNotFound: the server responded with status 404`

From the `Diplomat::Kv.get` documentation:
`@param not_found [Symbol] behaviour if the key doesn't exist;
    #   :reject with exception, :return degenerate value, or :wait for it to appear`

The behaviour should

[2015-05-09 17:26] mikeys opened #33 "Feature: allow to specify an 'index' on Diplomat::Kv.get"
Current `Diplomat::Kv.get` implementation does not allow to specify an `?index` param for fetching a key value if `index`'s value is smaller than the current key's `ModifyIndex` and "wait" (block) if it equals to it.
This is extremely useful for implementing a `watch` like functionality which avoids polling.

[2015-05-09 22:10] #32 closed

[2015-05-09 22:12] johnhamelink commented on #32
Thanks @mikeys - This was due to a refactoring I did yesterday to clean up some duplicated code!

[2015-05-09 22:17] johnhamelink commented on #33
Hey @mikeys,

This sounds like a cool addition. If you'd like to submit a PR, I'll happily consider :smile:

JH

[2015-05-11 08:57] guymaliar commented on #27
Hey guy, sorry I was on vacation, yes I managed to find a fix, removing the `faraday.adapter  Faraday.default_adapter` solved it.
I will send a pull request this week.

[2015-05-11 09:19] johnhamelink commented on #27
Thanks @guymaliar :smile:

[2015-05-13 00:07] literatesnow commented on #15
We have the same situation where Faraday is using ENV http_proxy (and ignoring ENV no_proxy) to connect to consul running on localhost via the proxy which results in HTTP 502's. Could we get Diplomat to force Faraday into not using the proxy?

[2015-05-13 00:20] johnhamelink commented on #15
Hey @literatesnow! Looking through Faraday's Issues list, it seems like this PR will do exactly what you need: https://github.com/lostisland/faraday/pull/471. Because the issue is coming from Faraday, it needs to be fixed in Faraday in order for this to work.

I think the long-term goal to fix this should be to swap out Faraday with [Hurley](https://github.com/lostisland/hurley) as it seems to be

[2015-05-13 01:03] literatesnow commented on #15
@johnhamelink Thanks very much for the workaround, I'll use it in the meantime (was missing the Diplomat::Kv.new part).

[2015-05-24 14:23] johnhamelink commented on #27
@guymaliar I'm going to close this ticket for now, if you get time to submit a PR, please do :smile:

[2015-05-24 14:23] #27 closed

[2015-05-24 14:24] johnhamelink commented on #26
@thedebugger I'm going to close this issue for now until you can get back to us! Thanks :smile:

[2015-05-24 14:24] #26 closed

[2015-05-25 07:27] guymaliar commented on #27
I will do it as soon as possible

—
Sent from Mailbox

On Sun, May 24, 2015 at 5:24 PM, John Hamelink <notifications@github.com>
wrote:

[2015-06-09 11:58] jeffreyji666 opened #38 "performace issue"
I read the service.rb code, It seems that It does send http request to get server list every time

is invoked.

If I have a application with high traffic. does it will cause high pressure to consul cluster?

why don't cache the service url and its server list and start a daemon thread to update it?

[2015-06-11 08:16] kaelumania opened #39 "Bug: Strips away key information if path is recursive and only one key/value set"
When I use the recurse version and there is only one value set in any of the child paths, e.g.

[code]

The the output is just

[code]

and I am missing the information from which childpath/key the value came from. This behaviour is implemented at https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/rest_client.rb#L79-L81

[2015-06-11 11:07] warmfusion opened #40 "Service requests for Invalid DataCenters throw unhelpful exceptions"
When trying to get a list of services for an explicit datacenter, I found if the DC wasn't found, or otherwise invalid, the service request throws a 500 error and doesn't give any useful feedback.

Could this be setup to be more explicit Diplomat/Consul related exception ?

[code]

[2015-06-11 22:54] warmfusion commented on #38
Caching the values seems counter productive to the premise of Consul - You always want to have the authoritative state of a given key.

This being said, it may be possible to register a watch on a given tree, then cache any values within that sub-tree, expiring the cache if any key/value pairs are updated.

[2015-06-15 06:17] jeffreyji666 commented on #38
How about network accident happened when you sending http request to consul cluster?

[2015-06-27 11:18] rubiyz opened #43 "Error in session renew"
The session can't be renewed. I looks like a typo on line 47 of session.rb.

Currently:
req.url = "/v1/session/renew/#{id}"

and should be:
req.url "/v1/session/renew/#{id}"

[2015-07-10 14:08] johnhamelink commented on #38
I'm not convinced watching the tree should be Diplomat's responsibilty - perhaps that could be some form of middleware for Diplomat? What do you think?

[2015-07-10 14:10] johnhamelink commented on #39
Well spotted. The question is - should we detect if the path is recursive and return a different result or should we make it an explicit option that you set?

[2015-07-10 14:11] johnhamelink commented on #40
Agreed. I'll work on a PR for this over the weekend.

[2015-07-10 14:11] johnhamelink commented on #43
Thanks for this, I'll look into it over this weekend.

[2015-07-15 23:54] scalp42 commented on #43
@johnhamelink any chance to fix it?

[2015-07-30 12:50] boldfield commented on #43
Any chance to get the fix for this bug merged?

[2015-07-30 16:41] johnhamelink commented on #43
I'm sorry guys I've been off the ball. I'm going to go through all of the outstanding issues on Consul now and get a new version out tonight :smile:

[2015-07-30 19:34] scalp42 commented on #43
Thanks @johnhamelink much appreciated

[2015-07-30 20:57] #43 closed

[2015-07-30 21:24] johnhamelink commented on #39
I've decided I'm going to return the hash, but I will do this as part of a breaking change, which according to Semver will bump the version number up to 1.0.0. I'll do this tonight after I've merged everything else that's non-breaking in and released 0.13.0.

[2015-07-30 22:01] #40 closed

[2015-07-30 22:03] johnhamelink commented on #43
Released in [0.13.0](https://rubygems.org/gems/diplomat/versions/0.13.0)

[2015-07-30 22:03] johnhamelink commented on #40
Fixed in [0.13.0](https://rubygems.org/gems/diplomat/versions/0.13.0)

[2015-07-31 09:10] johnhamelink commented on #38
Any further thoughts @warmfusion @jeffreyji666 ?

[2015-07-31 13:05] jeffreyji666 commented on #38
@johnhamelink  I use consul-template to replace this. more simple and robust.

[2015-07-31 13:08] johnhamelink commented on #38
@jeffreyji666 Yep, to me that seems like a more sensible way to approach this issue. I'm closing this for now but if anyone has any other opinions please re-open this issue.

[2015-07-31 13:08] #38 closed

[2015-11-07 15:46] ghempton opened #61 "Feature: allow using catalog endpoint when creating services"
This is required to register [external services](https://www.consul.io/docs/guides/external.html)

[2015-11-19 09:10] RedWhiteMiko opened #63 "Get ModifyIndex from Diplomat::Kv.get instead of Value"
Is there a way to get ModifyIndex value from `Diplomat::Kv.get`?

In `Diplomat::Kv.put`, it accept the `:cas` to do atomic update, but I can't find a way to get the ModifyIndex value..

[2015-12-06 22:05] chaos95 commented on #39
@johnhamelink According to Semver, major version 0 (that is, 0.y.z) is for initial development and does not guarantee any protection against breaking changes. You should feel free to break things between minor revisions when you're still in pre-release.

[2015-12-07 11:38] johnhamelink commented on #39
@chaos95 Agreed, but considering the amount of people using this gem, we are now in release whether we like it or not :smile:

[2015-12-13 14:30] jtmarmon opened #66 "Feature: Service rotation"
In the same way consul DNS round robins services by IP address, it would be nice if diplomat would rotate all the available services for one service name (in this case, round robining w/ both IP and port rather than just  IP as consul's DNS works).

`Diplomat::Service.next('myservice')`

[2016-01-12 20:14] athompson-r7 opened #67 "Update health api to support query args"
I am trying to use the service health api and noticed it doesn't support any of the query args[1].  I'm trying to use this to get healthy instances of a service.  Or is there a better way to do this with diplomat?

I'd be happy to help out with this.  It looks like this might end up looking like Node.get[2] or Service.get[3].

[1] https://consul.io/docs/agent/http/health.html
[2] https://github.co

[2016-02-05 12:59] kamaradclimber opened #71 "Diplomat::Acl.info(uuid) raise if acl does not exist"
When calling `Diplomat::Acl.info(a_uuid)`, the method raise an exception if the acl does not exist.
The expected output is to return `nil` instead.

With consul 0.5.2:

In this case, the body is the string "null" instead of being empty/nil.

[2016-04-11 23:30] jfilipe opened #76 "LoadError: cannot load such file -- response/raise_error"
Using diplomat v0.15.0 and Rails v4.2.5.2 in a console session running:

[code]
I've traced the exception to this line https://github.com/WeAreFarmGeek/diplomat/blob/a5b5756073eb418d8db0c3573e2f7cd8f39ba239/lib/diplomat/rest_client.rb#L64.
For some reason it cannot find faraday's `RaiseError` exception class.

If I update the above line to the following, everything works properly:
[code]

[2016-04-12 17:12] jfilipe commented on #76
Turns out my issue was related to a gem that was clobbering the `Faraday::Response` middleware autoload path.

[2016-04-12 17:12] #76 closed

[2016-04-14 05:11] igreenfield opened #78 "Which ruby versions it supports?"

[2016-04-27 14:13] #71 closed

[2016-04-27 15:58] #61 closed

[2016-04-27 16:03] johnhamelink commented on #78
1.9.3 and above :smile: You can see what versions we're testing with here: https://travis-ci.org/WeAreFarmGeek/diplomat

[2016-04-27 16:03] #78 closed

[2016-04-27 16:03] johnhamelink commented on #67
@athompson-r7 I'd love to see a PR for this! If you can submit one, I'd be very greatful.

[2016-04-27 16:04] johnhamelink commented on #66
That's a nice idea, but I think it's beyond the scope of the gem. Perhaps create a gem that complements diplomat by doing this? :smile: If you do that, you can submit a PR for the documentation which advertises your project.

[2016-04-27 16:04] #66 closed

[2016-05-23 21:01] aaronbbrown commented on #39
Would be super sweet to see this get fixed, as I'm running into the same problem.

[2016-05-24 08:52] sandstrom opened #85 "Keep a Changelog"
Would be awesome if you'd like to add a change log:
http://keepachangelog.com/

Just tried out Diplomat, it's awesome! Also a big fan of the photos! On top of everything else I noticed @PeterFCaswell have an excellent taste in avatar photos 😄

[2016-05-24 18:17] johnhamelink commented on #85
@sandstrom I know, you're right we really should be keeping track of the changes we're making. I will add a changelog file and write a contributing guide to the project, so that contributors will know how to add to the changelog.

Thanks for flagging this!

[2016-05-24 18:59] #85 closed

[2016-05-24 19:00] #63 closed

[2016-05-24 19:00] #33 closed

[2016-05-24 19:01] #67 closed

[2016-05-31 19:00] ryansch opened #87 "Kv.get is not idiomatic ruby"
This calling convention is painful:
[code]

The ruby interpreter expects to find a hash as the last option.  It would be far better to roll the `not_found` and `found` options into the options hash itself and grab them with `Hash#delete`.

Example call site:
[code]

It's also surprising that `get` returns an empty string instead of `nil` when the key is not found in `not_found = :return` mode.

I'

[2016-05-31 19:19] ryansch opened #88 "Unable to subscribe to event stream with Diplomat::Event"
For my use case I want to treat the consul events like an event stream and get the newest one or sleep until a new event arrives.  However, both `.get` and `.get_all` appear to drop the current newest event if run with `:wait, :wait`.  This means that I can either get the latest event or choose to possibly drop an event and wait for a new one.

Here's some ruby code that does what I want:

[code]

[2016-05-31 19:28] PeterFCaswell commented on #87
@ryansch We had a discussion a couple of months ago about various ways that Kv.get was idiomatic and difficult to use. We seemed to hit a consensus that we should provide a parallel (set of) call(s) that is (are) more straight-forward. But no one has had the time to do that work.

Do you have the time? We'd love the submission.

[2016-05-31 19:49] ryansch commented on #87
That's tempting...

[2016-06-01 01:30] johnhamelink commented on #87
That's where I'm at with the current syntax. Because Diplomat is used at a fundamental level for many projects, it's important we try not to break compatibility for people when we don't need to. That being said, your points are valid and we do eventually need to move to a solution like you describe.

I'd be tempted to suggest we adopt a parallel set of calls as @PeterFCaswell describes and add a d

[2016-06-01 21:07] pmenglund opened #89 "Inconsistent handling of 403 responses"
When you have a consul ACL in place, the exceptions your get from diplomat are inconsistent:

E.g. `Diplomat::Acl.list` raises

    Diplomat::UnknownStatus: status 403

while `Diplomat::Acl.create({})` raises

    Faraday::ClientError: the server responded with status 403

which makes it messy to catch the exceptions and determine if authentication is needed.

[2016-07-18 13:30] EugenMayer opened #94 "kv.get returns a keyless value if tree has only one descendant"
If you have something like /this/is/my/path/value1 = 1

and you use diplomat with
values = Diplomat::Kv.get('/this/is/my/path', {recurse: true}, :return)

it will return a string value, value1, not and array

[code]

[2016-07-18 13:32] EugenMayer commented on #94
AFAICS a dupe of #39

[2016-07-18 13:32] #94 closed

[2016-08-01 14:11] sandstrom commented on #87
Agree with all of the above.

For the breaking change, I'd just go with a major version bump (semver) and highlight in a changelog that it's breaking. Dual calling methods are cumbersome to maintain, even for a short while.

[2016-08-02 10:47] johnhamelink commented on #89
@pmenglund Thanks for this issue. We simply need to check to see what the correct response code is, and if it's not the correct one, respond with `Diplomat::UnknownStatus` as with the list function.

[2016-08-02 11:09] johnhamelink commented on #89
Fixed in https://github.com/WeAreFarmGeek/diplomat/commit/492596ea106f69ca87608e67ff98d5dc68e3f7ac

[2016-08-02 11:09] #89 closed

[2016-08-02 11:12] johnhamelink commented on #89
Released in [0.19.0](https://rubygems.org/gems/diplomat/versions/0.19.0)

[2016-08-03 07:31] syedali90 opened #97 "Can't set development environment with remote URL"
I don't have consol setup in development environment, so I want to use remote URL .. but seems like it doesn't work ..

Cannot load `Rails.application.database_configuration`: (Faraday::ConnectionFailed)
Connection refused - connect(2) for "localhost" port 8500

[2016-08-03 09:55] syedali90 commented on #97
Okay . I found the solution .. rails4 try to set database.yml before initializers .. so i had to ser diplomate config in application.rb

[2016-08-03 09:55] #97 closed

[2016-08-03 19:25] mfischer-zd opened #98 "Status API not yet supported"
Provide methods to wrap /v1/status/leader and /v1/status/peers endpoints.

[2016-08-08 22:31] johnhamelink commented on #98
@mfischer-zd pull requests are welcome 😄

[2016-08-08 22:36] johnhamelink commented on #88
Sorry for the huge wait time for a response for this - I've been super busy!

So from what I've read, the issue you're having is that the wait command skips the current event. That makes sense to me - the command is not supposed to send multiple results back and if it returned the current event it'd never wait for a new one. So it sounds like what you need to do is wrap Diplomat in a function that

[2016-08-11 16:03] ryansch commented on #88
@johnhamelink I already have a working example above.  I was just pointing out that the mechanics of how Diplomat currently deals with events doesn't lend itself to treating it like an event stream where I can just handle each event as it comes in.

[2016-08-11 16:51] johnhamelink commented on #88
@ryansch yeah, I get that now 😄 I guess there isn't really all that much that can be done though without massively increasing the complexity of Diplomat. The best thing in my opinion would be to write this functionality in another gem that depends on diplomat.

[2016-09-08 06:19] rayward opened #99 "KV delete doesn't allow recurse option."
As per https://www.consul.io/docs/agent/http/kv.html, the `recurse` option is allowed to delete all keys with the given prefix.

[2016-10-04 15:37] mseravalli opened #101 "Not possible to retrieve session"
When getting the value of a key it is not possible to get all attributes.
It might be useful to get the session for example in the case that it is needed to [discover a leader](https://www.consul.io/docs/guides/leader-election.html#discovering-a-leader).

[2016-10-05 05:43] #99 closed

[2016-10-12 17:20] tokenrain opened #103 "service and node register/deregister do not use supplied acl_token"
It seems that a few Diplomat functions do not use the acl_token that is set during configuration.

Looking at the register method definition from service.rb

  def register(definition, path='/v1/agent/service/register')
      json_definition = JSON.dump(definition)
      register = @conn.put path, json_definition
      return register.status == 200
    end

I see that the acl_token definition is m

[2016-10-22 00:22] devkmsg opened #104 "Blocking Kv query throwing exception"
I am trying to do a blocking Kv query and I get the following exception.

`changed = Diplomat::Kv.get(prefix, { recurse: true }, :wait, :wait)`

[code]

[2016-11-02 21:24] swistaczek opened #107 "Release new version"
Please release current master to rubygems :).

[2016-11-08 16:34] johnhamelink commented on #107
Done! https://rubygems.org/gems/diplomat/versions/1.1.0

[2016-11-08 16:34] #107 closed

[2016-11-08 16:39] #104 closed

[2016-11-11 19:14] jhmartin opened #110 "Support stale / consistent queries"
https://www.consul.io/docs/agent/http.html under 'Consistency Modes'

[2016-11-11 23:03] jhmartin opened #111 "Randomize service results"
Consul returns http service calls in a consistent order, when 'usually' one doesn't want all clients to use the same instance.  When requesting just one instance of a service, return a random instance from the list of results.

[2016-11-14 15:58] devkmsg opened #112 "Releases and tagging"
It would be very helpful if tags/releases were created when a new version of the gem was cut.

[2016-11-16 17:48] tokenrain commented on #103
I am not sure how often you guys check these issue or when release cycles happen. I know you are not being paid for this. I was just wonder if you might be able to provide some base timeline as to when this issue might be looked at. All and any help is greatly appreciated.

[2016-11-17 03:53] taharah commented on #112
+1 to this

[2016-11-18 12:26] johnhamelink commented on #103
@tokenrain You are right that none of us are being paid to maintain this project - I started Diplomat a few years ago to fit a specific need I had on a project I was working on. I've long since completed that project and I no longer even write code in ruby day-to-day. As such, I maintain Diplomat as and when I can, and I can't commit to anything more specific than that!

@PeterFCaswell joined as a

[2016-12-08 09:08] defsprite opened #113 "Options for health endpoint are missing / incorrect"
According to https://www.consul.io/docs/agent/http/health.html the possible parameters for `/v1/health/service/:service` are:

- `dc` (implemented correctly)
- `near` (missing)
- `passing` (implemented as `state`, which does not seem to work)

I am trying to filter only healthy nodes for a service, which does not seem to work without client-side post-processing.

Am I missing something? Is this ve

[2016-12-14 18:33] evan2645 commented on #110
Beyond this? https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/kv.rb#L16

[2016-12-15 16:44] EugenMayer commented on #39
Iam bumping this issue, since with 1.1.0 we have now `convert_to_hash: true` and this we can implement a good behavior here.

Right now, if you ask for test/this/out/key = 'test' with
[code]

You get  a plain parse exception that test cannot be "eached"

[code]

@johnhamelink it seemed to be on the 1.0.0 roadmap but either it got forgotten or this issue is not the right home for my described bug.

[2016-12-16 06:26] taharah commented on #113
I just saw this issue. I recently created a PR to fix another issue I found with the health endpoint that returns Hashes instead of OpenStructs as stated in the documentation. I'll add this to the PR as well.

[2016-12-16 06:43] taharah commented on #113
This should be resolved via: [114](https://github.com/WeAreFarmGeek/diplomat/pull/114)

[2016-12-16 06:46] taharah commented on #103
@johnhamelink I am highly interested in becoming a maintainer for this project as it is an essential component of a project that I am currently involved in.

[2016-12-21 18:05] sandstrom opened #117 "Service lookup is not idiomatic ruby"
Currently, a service lookup goes like this:

[code]

This syntax is unlike anything else in ruby, where properties and methods are `snake_cased` and only classes are `CamelCased`.

One would expect something like this:

[code]

Overall Diplomat is excellent! ⛵️

But this part could use some adjustments to make it align with all of Rubys standard-library plus basically all other gems.

***

*A rela

[2016-12-24 19:53] taharah commented on #117
The reason the syntax is like that is because it matches what is used by the API, which is written in Go. Some re-work and most likely a custom object would need to be developed in order to make the return values more closely match Ruby syntax.

[2016-12-30 00:35] snoremac commented on #39
If it helps anyone, our fork changes behaviour such that single-valued results are packaged the same way as multi-valued ones.

https://github.com/caradvice/diplomat

[2017-01-03 12:24] EugenMayer commented on #39
@snoremac wondering why you did not create a pull request? Thank you for your work!

[2017-01-09 17:29] t3hk0d3 opened #119 "Kv.get /w recurse: true is not consistent"
`Kv.get` with recurse: true is not consistent if there is only single key were returned.

I am expecting array of key/values, but if there is only single key it would return just its value.

[code]

Current workaround is specifying `decode_values: true`:
[code]

But there is no way to make ``convert_to_hash`` to work with single key atm.

[2017-01-11 03:14] taharah commented on #119
PR has been created to resolve this bug. Please review it if you are able to.

[2017-01-11 03:15] taharah commented on #112
Releases will be tagged going forward.

[2017-01-11 03:15] #112 closed

[2017-01-11 03:15] taharah commented on #113
PR has been merged.

[2017-01-11 03:15] #113 closed

[2017-01-11 03:36] taharah commented on #110
@jhmartin does what @evan2645 provide the functionality you were looking for?

[2017-01-11 03:40] taharah opened #122 "Rubocop fixes"
42 files inspected, 1849 offenses detected

[2017-01-11 05:16] taharah commented on #122
A little over halfway through after the first round of fixes...

42 files inspected, 944 offenses detected

[2017-01-13 19:37] ghostsquad commented on #119
along these lines, `convert_to_hash` straight up fails when the value is a simple string.
[code]

I expected to either get a hash or a string based on the value. The workaround is not very performant, as it requires me to first try with `convert_to_hash: true`, and if that fails, call the method again without that parameter.

[2017-01-14 02:18] t3hk0d3 commented on #119
@taharah
Actually i think it should be a different method for recursive get:
[code]

[2017-01-23 03:01] taharah commented on #122
PR #124

[2017-01-23 03:32] taharah commented on #122
PR has been merged as part of the v1.2.0 release.

[2017-01-23 03:32] #122 closed

[2017-01-25 11:19] thomas-maurice opened #130 "Agent API is not supported yet"
Could it be possible to add the support for the /v1/agent endpoint ?

https://www.consul.io/docs/agent/http/agent.html

Regards

[2017-01-25 16:18] thomas-maurice commented on #130
I need that so I'm actually working on it, I'll submit a PR when I'll be satisfied with the code

[2017-01-25 18:17] defsprite commented on #113
This is great news! Thanks @taharah

[2017-01-27 12:18] thomas-maurice commented on #130
ok my bad, I misread

[2017-01-27 12:18] #130 closed

[2017-03-22 14:42] maxvt commented on #110
https://www.consul.io/docs/agent/http.html says "most read query endpoints support specifying consistency". At the very least, this option would be useful for service and health API endpoints, because for service discovery being consistent is often less important than getting at least some results right.

For more context, see https://stripe.com/blog/service-discovery-at-stripe

[2017-03-29 17:30] maxvt opened #134 "Aborted transactions can crash Diplomat"
My code tests fail with:
[code]

I instrumented the failing line:
[code]

and saw this:
[code]

Suggested fix is https://github.com/WeAreFarmGeek/diplomat/pull/133.

[2017-04-15 00:30] taharah commented on #134
This was just merged.

[2017-04-15 00:30] #134 closed

[2017-04-15 00:30] taharah commented on #134
PS thanks for submitting the fix!

[2017-04-15 00:31] taharah commented on #117
I'm starting to plan out the next major release and I'd like to create a custom object for the API responses and requests, which would resolve this issue.

[2017-04-15 00:36] taharah commented on #98
This has now been resolved.

[2017-04-15 00:36] #98 closed

[2017-04-15 00:43] #88 closed

[2017-04-15 07:52] sandstrom commented on #117
@taharah Sounds great! 🐥 👍  There is also https://github.com/WeAreFarmGeek/diplomat/issues/87 (which I'm sure you know about already)

If there is a draft or RFC outlining the upcoming changes / new API surface I'm happy to provide thoughts and comments.

Generally, I'd say the RFC format is very good for API surface changes. Writing it out before coding can save a lot of time and also helps onese

[2017-04-15 22:30] taharah opened #137 "Update README"
The README is currently very out of date and missing several of the now available endpoints.

[2017-04-15 22:31] taharah opened #138 "Update maintenance endpoint"
The maintenance class is missing some of the available calls as well as should be updated to use the agent API endpoint.

[2017-04-18 17:08] taharah commented on #138
Going to add service maintenance to the `Diplomat::Service` module.

[2017-04-26 18:06] taharah commented on #138
#140 resolves this.

[2017-04-26 18:06] #138 closed

[2017-05-25 00:08] scottybrisbane opened #144 "Unable to compile the json gem on production machines"
I am wanting to use this library with Puppet, but we don't want to have to compile native extensions on our production machines before puppet can run. This is currently required for us to use diplomat, because of the dependency on the `json` gem.

Would it be possible to move to using `json_pure` instead?

[2017-05-26 04:31] taharah commented on #144
This is something I can look into. My company is a large Chef consumer, so I've never ran into this issue before, and I believe JSON is installed by default with newer versions of Ruby (>= 2.3).

[2017-07-21 15:20] EugenMayer opened #148 "WARNING: Unexpected middleware set after the adapter. This won't be supported from Faraday 1.0."
This seems to get cause by diplomat nowdas:
[code]

see https://github.com/lostisland/faraday/commit/067be864a67e791e6766253ce4ef3f5c740caf70

[2017-07-21 15:25] EugenMayer commented on #148
in case that is of any importance, all i configure for diplomat is:

[code]
Not sure if this actually does trigger any middleware layer to be  reconfigured or whatever

[2017-07-21 15:30] EugenMayer commented on #148
According to https://github.com/lostisland/faraday/pull/685 it is related to https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/rest_client.rb#L84 and the order of https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/rest_client.rb#L84 / https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/rest_client.rb#L85

See my pull request to fix it

[2017-07-21 15:35] EugenMayer commented on #144
even if you use Chef (chef user myself), this is an issue on all boxes, all docker containers and is usually creating a huge overkill.

json_pure works pretty solid in those cases

[2017-07-28 12:08] #148 closed

[2017-07-28 12:09] EugenMayer commented on #148
@johnhamelink thanks for taking action, very appritiated

[2017-08-02 15:11] #119 closed

[2017-08-11 10:37] EugenMayer opened #152 "getting KV no longer respects convert_to_hash"
related to #120 (introduced by this in 2.0.1) .. probably related to the concerns here https://github.com/WeAreFarmGeek/diplomat/issues/119#issuecomment-272527850

[2017-08-11 10:39] EugenMayer commented on #152
very urgent for me, more or less fork or force, my complete stack is offline due to this ;/

[2017-08-11 10:48] johnhamelink commented on #152
@eugenmayor obviously I’d recommend in the first instance you revert to an older version of the gem which fixes your immediate problems, then we can look at fixing. A really useful thing would be for you to create a unit test which mimics your current problems so we can fix them specifically

[2017-08-11 10:53] EugenMayer commented on #152
Iam on vacation right now, won't be able to provide further details before tomorrow 11am CET. Basically all recursive convert to hash are now flatted arrays with keys as string, full path. So no more multi level hasmap but rather flatted array as it has been before convert to hash

[2017-08-15 17:44] markitoxs commented on #152
Just to add more data to this:

[code]

2.0.1 returns:
[code]

[2017-08-23 10:32] quulah opened #153 "JSON parse error from Diplomat::Status.leader()"
I have a single test server. When using Diplomat::Status.leader(), it raises an exception.

Consul 0.7.0
Diplomat 2.0.1

[code]

[code]

[2017-08-23 10:36] quulah commented on #153
.peers() seems to work, it returns an array and that is correctly parsed as JSON.

The single string seems to be problematic.

[2017-08-23 14:44] taharah commented on #152
Alright I'm going to revert the change in 2.0.1 that introduced this issue since it seems to have also introduced #153. We'll need to revisit the possibility of consistent returns at a later date.

[2017-08-23 15:52] taharah commented on #153
This has been fixed with the release of v2.0.2.

[2017-08-23 15:52] #153 closed

[2017-08-23 15:55] taharah commented on #152
This should be fixed in v2.0.2 of the gem @EugenMayer that reverts the change introduced in #120.

[2017-08-26 18:54] taharah commented on #152
Closing this out since there has not been any additional reports of issues since reverting the change.

[2017-08-26 18:54] #152 closed

[2017-09-05 08:36] #144 closed

[2017-09-14 07:50] mkarklins commented on #153
Here is a failing [gist](https://gist.github.com/mkarklins/1686af1636b54c4ceceaccde2d247e61), produces `parse': 784: unexpected token at '"127.0.0.1:8300"' (JSON::ParserError)`

JSON 1.8.6 doesn't seem to parse correctly the response. Upgrading to the latest `json` fixes the problem.

Not sure if this should be added to gemspec, but an FYI for those who may experience this issue on `>= 2.0.2` bran

[2017-10-10 17:27] ghostsquad opened #157 "Don't assume http address is 127.0.0.1:8500"
Configuration should look for environment variable `CONSUL_HTTP_ADDR` for address/port, unless explicitly configured.

https://medium.com/zendesk-engineering/making-docker-and-consul-get-along-5fceda1d52b9

[code]

[2017-10-15 16:02] taharah commented on #157
I'm not opposed to this change; however, it would most certainly be a pretty big breaking change. I'll take a look at some of the other libraries available for Consul, and if it is adopted elsewhere, then I'll go ahead and get this staged up for a 3.x release in the future.

[2017-10-15 23:06] ghostsquad commented on #157
Not all of them do this from my research, however, this is the functionality of the native Consul CLI.
https://www.consul.io/api/libraries-and-sdks.html
https://www.consul.io/docs/commands/index.html

Like the AWS CLI, it's nice when client libraries follow the same configuration behavior as their native CLI counterparts, as it means consumers don't need to re-configure the client, and can rely on

[2017-12-02 23:19] taharah commented on #157
So I recently saw how they were setting the default values for the Vault ruby gem [[1](https://github.com/hashicorp/vault-ruby/blob/master/lib/vault/defaults.rb)] and I would like to implement the same for Diplomat. I've started looking at how we can implement this (hopefully without any breaking changes).

[2017-12-06 15:47] kamaradclimber commented on #110
Any progress on that feature? Not being able to use stale makes every application based on diplomat unreliable when consul cluster does not have a leader.

[2017-12-15 16:23] kamaradclimber opened #159 "Allow to pass Diplomat::Configuration object when using diplomat"
(Not a very good issue description, feel free to rename it)

Let's consider the following scenario:

a first piece of code defines a consul token using:
[code]

Now a second piece of code (different library or maybe chef cookbook) defines another consul token (B).

and the first piece of code later calls diplomat assuming the token is A.

In this case, you might encounter an unauthorized error.

T

[2018-01-11 19:59] pklingem commented on #39
@snoremac thoughts on PRing?

[2018-01-25 08:27] prikha commented on #117
Vote for this one! @taharah @sandstrom  Ping me if help needed

[2018-01-29 00:08] scottybrisbane opened #162 "Kv.get /w recurse: true is not consistent"
This is essentially just a re-do of #119, since the solution (#120) was reverted by fd3f2a5e142858e5bb86ac1514e726618db3ad07. I would still very much like to see this get resolved as I am having to use a fork in the meantime. From the original issue:

[2018-02-23 15:12] sixfeetover commented on #103
Try this: https://github.com/WeAreFarmGeek/diplomat/pull/160.

[2018-03-28 17:59] rockpapergoat opened #164 "service or node in maintenance mode is returned via service lookups"
when enabling maintenance mode for a node or service, it still shows up when searching via `Diplomat::Service.get('service', :all)`, which is not what i expected. it feels like this is a difference between querying the catalog vs. agent endpoints. i'm taking a look, but my desired behavior here is for nodes/services not to return via service queries if they're in maintenance mode. do you have any

[2018-04-02 13:37] rockpapergoat commented on #164
i'll close this, as it's not a diplomat issue here.

[2018-04-02 13:37] #164 closed

[2018-04-16 21:15] pierresouchay commented on #110
Please also consider ['leader'](https://github.com/hashicorp/consul/pull/4004/files#diff-03f1adb0cf098d94755af53cf0b484d6R404) consistency mode => which forces basic consistency over discovery endpoints

* `?stale` => allow to read from any consul server
* `?consistent` => strong consistency
* default => consistent (but can be changed on discovery endpoints, see [discovery_max_stale](https://www.c

[2018-05-02 09:26] pierresouchay commented on #110
Would you consider https://github.com/WeAreFarmGeek/diplomat/pull/165 ?

Kind regards

[2018-10-17 21:53] ghostsquad opened #167 "Diplomat needs a client"
## Problem Statement

Although I've seen in done time and time again in other ruby libraries, having a global configuration makes it really hard to use dependency injection.

The main problem though (the reason for this issue), is that I need to be able to talk to multiple different consul API endpoints, and right now the only real way to do that is something like the following.

[code]

You can i

[2018-10-17 21:55] ghostsquad commented on #167
I see there's a PR that seems related to this issue: #163

[2018-10-17 22:20] pierresouchay commented on #167
@ghostsquad Fully agree on that :-)
I actually to plan to review all the pending review and try simplifying the APIs at the same time to always allow configuration per request of global parameters. #163 has been proposed by one of my colleagues, so I can ensure you it will be quickly merged and release published.

Thank you for your patience

Kind regards

[2018-10-18 21:08] c2nes opened #168 "Upload 2.0.3 to Rubygems.org"
I noticed that version 2.0.3 has been tagged, but that 2.0.2 is the latest version on RubyGems.org. Would it be possible to get 2.0.3 uploaded to RubyGems.org as well?

Thanks!

[2018-10-18 21:19] johnhamelink commented on #168
Yes! I plan on doing some housekeeping in this repo over this weekend, including making sure rubygems is up to date.

[2018-10-31 20:58] pierresouchay commented on #167
#163 has been merged, @ghostsquad  Ok for you?

[2018-10-31 20:58] #167 closed

[2018-10-31 21:02] pierresouchay commented on #157
Fully agree on the feature, might break existing usages however :(
Since we merged #163, maybe for instances with configuration, setting this value by default would make sense?

[2018-10-31 21:09] pierresouchay commented on #162
This does indeed break some usages, what do you think about a new endpoint without this issue?

I would rather add: `get_all()` and `get_keys()`

`get_all()` would recurse, while `get_keys()` would use the array semantics of retrieving only values.

@scottybrisbane what do you think?

[2018-10-31 21:16] scottybrisbane commented on #162
This seems like a reasonable solution

[2018-11-19 09:50] thumbnail commented on #168
I'm sorry to bump, but is there any update on this?

[2018-12-19 08:14] pellepelster commented on #168
Any news on the update? I am kind of blocked by missing changes that ought to be released with 2.0.3.

/cheers

[2018-12-23 08:49] EugenMayer opened #171 "Not working with ruby 2.5"
When working with 2.5 ( e.g. ruby:2.5-slim-stretch official docker image )
One gets a 301 moved permanently on each KV access

[code]

[2019-01-03 02:16] eli-darkly opened #172 "RestClient implementation seems non-thread-safe?"
Hi - this is probably more of a question than an issue; I've used Consul API clients on other platforms, but I'm having a little trouble understanding the architecture of Diplomat.

I have a controller that wants to do various KV operations. They will always be to the same Consul host with the same configuration, so I feel like I should be able to just instantiate a `Kv` and keep using it— otherwi

[2019-01-15 21:01] eli-darkly commented on #172
After looking into it further, I think my idea that I should be able to reuse a `Kv` instance was wrong. It looks like the intended usage is always to get a new instance each time by calling class methods on `Diplomat::Kv`. In that case, this is irrelevant.

[2019-01-17 22:05] andreyors opened #173 "PUT /v1/agent/check/<pass|warn|fail>/<check_id> in consul documentation vs GET in Diplomat::Check.<pass|warn|fail>"
Hi,

I found API trouble - in official documentation (https://www.consul.io/api/agent/check.html) they mentioned PUT, but the current master (https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/check.rb) uses GET verb for methods pass, warn and fail

[2019-01-17 22:17] andreyors commented on #173
https://github.com/hashicorp/consul/issues/3659

[2019-01-18 17:25] bejelith opened #174 "Diplomat::Session.create accept options as hash but do not use them"
I tried to create a new session with a TTL without success

Example
[code]
returns
[code]

[2019-01-18 18:41] #174 closed

[2019-01-18 18:41] bejelith commented on #174
Sorry.. this his the result of rushing in things

[2019-01-28 14:11] kamaradclimber commented on #168
@pierresouchay could you have a look and release the latest version this gem please?

[2019-02-22 03:10] bobchaos opened #177 "use json_pure?"
a few hours ago a new version of the `json` rubygem went up on rubygems.org, and suddenly I need gcc to install diplomat. I'm wondering if you'd consider pinning the gem version to 2.1.0 (I note it's the only unpinned dependencyyou have) or depending on `json_pure`instead of `json` as described here: http://flori.github.io/json/ in order to restore the previous behavior. Thanks!

[2019-02-25 12:57] pierresouchay commented on #168
DONE for 2.0.4, now automatic push of releases from travis when using a tag

[2019-02-25 12:57] #168 closed

[2019-02-25 13:47] #173 closed

[2019-02-25 13:48] pierresouchay commented on #137
@taharah Could you please provide a PR to fix it ?

[2019-02-25 19:54] pierresouchay commented on #177
@bobchaos Are you using ruby version 1.9.3 ?

This dependency is required only for very old ruby versions...

You can do a PR to enforce it, I'll review it quickly

[2019-02-25 19:59] pierresouchay commented on #177
Fixed by https://github.com/WeAreFarmGeek/diplomat/commit/f45b152f6b44674b6f17b17c78107a88758de82d

[2019-02-25 19:59] #177 closed

[2019-02-25 21:56] pierresouchay commented on #171
@EugenMayer @rockpapergoat How?

Can you please try this?

Create file test.rb (executable):
[code]
Run it with `CONSUL_HTTP_ADDR=http://localhost:8500 ./test.rb PATH_TO_KV`

(You can replace CONSUL_HTTP_ADDR with the value of the consul agent you are targeting)

On my side, with ruby-2.5.3, working quite well...
What OS? Docker/Alpine?

[2019-02-26 16:12] bobchaos commented on #177
using v2.5, but I notice you're comparing the version as a string, may be better as a `Gem::Version` either way thanks for the change, solved my issue nicely

[2019-02-28 20:37] pierresouchay commented on #111
@jhmartin do you still need this? What about having a helper to randomize results?

[2019-02-28 23:13] jhmartin commented on #111
I don't need it myself, but my concern is people will expect a round-robin behavior from this and get something else.

[2019-03-06 20:12] rockpapergoat commented on #171
sorry for the delay. my issue was not specifying the full path to the key. ubuntu 16.04/ruby 2.5.1 worked/works fine, as far as i can tell.

[2019-03-06 20:15] EugenMayer commented on #171
@pierresouchay its all up there

`When working with 2.5 ( e.g. ruby:2.5-slim-stretch official docker image )`

[2019-03-07 16:39] pierresouchay commented on #171
@EugenMayer So, I suspect you are using :
[code]
right?

Using:
[code]
Would probably fix your issue (note that I removed the first '/')

@EugenMayer Can you confirm this?

[2019-03-07 18:21] EugenMayer commented on #171
Well @pierresouchay i am not sure you are right about that, since in this case, the request is wrapped by https://github.com/markround/tiller - but i remember having issues with my direct ruby diplomat implementation.

Still looking at the error and the cause it seem viable - still why did this happen with ruby 2.5 but not with < 2.5? Does not make sense this redirect is only triggered then. Proba

[2019-03-07 18:37] pierresouchay commented on #171
@EugenMayer might be. I definitely have a 302 if using /anykey for a KV.get(). This is a problem anyway, because I am not sure of behavior if using put for instance.

There might be a change in ruby to default following 302 from 2.4 to 2.5, but we might simply fix this globally in diplomat if self to avoid this behavior

[2019-03-13 10:54] tionebsalocin commented on #103
Token is now systematically managed and added in the http header for each calls.
If it exist in configuration or in the option object it will be send in the request.
https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/rest_client.rb#L179

[2019-03-13 11:17] pierresouchay commented on #103
@tokenrain as explained by @tionebsalocin, the recent evolution of API now allow all kind of scenarii, including using a different token for each call without side effects. Feel free to reopen if you think we missed something

[2019-03-13 11:17] #103 closed

[2019-03-15 19:00] #171 closed

[2019-03-18 10:57] pierresouchay commented on #110
Now available with the changes in 2.1.0

[2019-03-18 10:57] #110 closed

[2019-03-18 10:58] pierresouchay commented on #39
This has been added in 2.1.0

[2019-03-18 10:58] #39 closed

[2019-03-19 09:09] Oribracha opened #186 "diplomat v2.1.0 is broken due to syntax error"
diplomat-2.1.0/lib/diplomat/rest_client.rb:180: syntax error, unexpected ':', expecting =>
...  headers = { 'X-Consul-Token': configuration.acl_token } if...

Submitted a pull request for this syntax error fix:
https://github.com/WeAreFarmGeek/diplomat/pull/185

[2019-03-19 11:03] #186 closed

[2019-03-19 14:58] Annih opened #187 "KV.put is now JSON encoding the given data"
### Version
With *diplomat (2.1.1)*

### Step to reproduce
When doing `KV.put('my_key', '{ "a": 1}')`

### Expected result
I expect to save my given value as it in the kv store, *i.e.:* `{ "a": 1 }`

### Actual result
Instead I got `"{ \"a\": 1}"`

[2019-03-19 15:00] Annih commented on #187
This seems to be related to the following changes https://github.com/WeAreFarmGeek/diplomat/commit/35c369f845ccbaf7aec160b91f3c169c79c8f44e#diff-7730494772290edba80a3e678479ae31L111

Which now leverage `send_put_request` which does a `JSON.dump` (https://github.com/WeAreFarmGeek/diplomat/commit/35c369f845ccbaf7aec160b91f3c169c79c8f44e#diff-7730494772290edba80a3e678479ae31L111)

[2019-03-19 15:20] pierresouchay commented on #187
Thank you for the report, we will revert to old behavior asap

[2019-03-19 17:16] #187 closed

[2019-03-19 22:45] neufeldtech opened #189 "/v1/catalog/register is broken after upgrade to v2.1.2"
Hi there,
I'm experiencing an issue with version 2.1.2 of this gem that I'm not seeing with v2.1.1.

We're currently using consul v0.7.0 in our environment, and I'm using this gem to make calls to the `/v1/catalog/register` endpoint.

I'm making calls similar to this:

[code]

I've captured the HTTP payloads of a request and response on working example (gem v2.1.1) and on a broken example (gem v2.

[2019-03-20 09:34] #189 closed

[2019-03-20 09:47] pierresouchay commented on #189
Should be fixed with 2.1.3. Sorry about this and thank you for the bug report

[2019-04-26 00:53] scalp42 opened #193 "Support Consul 1.4.0+ ACL system"
Current Diplomat only supports legacy API endpoints:

[code]

The new system doesn't allow naming the token itself, only the description. A new `AccessorID` gets created instead and acts as the `ID` in the legacy system.

I'm going to start working on a PR.

[2019-05-06 10:13] pierresouchay commented on #193
@scalp42 Thank you for the PR!

[2019-05-06 10:13] #193 closed

[2019-05-06 17:39] scalp42 commented on #193
@pierresouchay Unfortunately/fortunately with `1.5.0`, we'll have to change the gem again, see https://github.com/hashicorp/consul/issues/4977#issuecomment-489329565

[2019-05-09 04:06] scalp42 opened #195 "Add support for Consul 1.5.x ACL tokens"
With the release of Consul 1.5.x (https://github.com/hashicorp/consul/blob/master/CHANGELOG.md#150-may-08-2019), we can now pass a named token which should help with Chef.

Going to work on it @pierresouchay

[2019-05-09 20:37] scalp42 opened #197 "Add support for Consul 1.5.x Auth Method and Binding Rule HTTP APIs"
See https://www.consul.io/docs/acl/acl-auth-methods.html

[2019-05-27 23:44] pierresouchay commented on #197
@scalp42 what kind of feature do you suggest exactly ?

[2019-05-27 23:45] pierresouchay commented on #195
@scalp42 Do you need something else ?
Can we close it, you probably need a release to use it properly?

[2019-05-28 02:23] scalp42 commented on #197
@pierresouchay add support for new APIs:

- https://www.consul.io/api/acl/auth-methods.html
- https://www.consul.io/api/acl/binding-rules.html

But I don't think I'll be able to work on that (no access to k8s right now).

[2019-05-28 02:24] scalp42 commented on #195
@pierresouchay correct can be closed. Still working on Chef support for it.

[2019-05-28 02:24] #195 closed

[2019-06-03 13:37] ychuzevi opened #199 "Improve error message in case of missing ACL"
When calling `Diplomat::Agent.services` with an invalid token, the error currently displayed is `Diplomat::PathNotFound` with no additional information.

Consul is actually returning an HTTP 403 error with message `ACL not found` in such case.

In order to facilitate debugging, it would be great if Diplomat could return a more specific error and include the error message identifying that the ACL i

[2019-06-03 14:07] #199 closed

[2019-09-15 09:08] #162 closed

[2020-02-19 18:39] guilvey opened #204 "2.3.0: syntax error in file lib/diplomat/rest_client.rb:243 ?"
Hello,
Since the release of diplomat 2.3.0, I am having a ruby issue in file rest_client.rb:243:

[code]

Can you have a look ?
Thank you,
Guillaume.

[2020-02-19 18:43] pierresouchay commented on #204
@guilvey which version of Ruby are you running?

[2020-02-19 18:51] guilvey commented on #204
Hello @pierresouchay ,
Thanks for your quick reply, I am using ruby 2.0.0p648 (2015-12-16) [x86_64-linux]
Guillaume.

[2020-02-19 18:59] pierresouchay commented on #204
Hello @guilvey,

In 2.3.0, I did fix support for Ruby 2.7, at the same time, I started using safe operators (aka `&.`), thus breaking old versions of Ruby such as yours.

I do not recommend using pre 2.4 as it is not security supported (for instance your versions is not supported since Feb. 24th, 2016 : https://www.ruby-lang.org/en/news/2015/12/16/ruby-2-0-0-p648-released/ )

I did the fix however

[2020-02-19 18:59] #204 closed

[2020-02-19 21:35] guilvey commented on #204
Hello @pierresouchay
The version 2.3.1 you just delivered is working perfectly. Thanks a lot for your change and your reactivity. I can only agree with you about your remark on the ruby version I am using :-)
Guillaume.

[2020-03-03 06:20] kinnalru opened #205 "It is unable to retrieve service configuration from consul"
`Diplomat::Service.get` uses `"/v1/catalog/service/#{key}"` path which returns not service configuration but `nodes providing a service in a given datacenter`. See here: https://www.consul.io/api/catalog.html#list-nodes-for-service

So there is no method in `Diplomat::Service` to retrieve configuratiom registered with `Diplomat::Service.register` by unique service ID.

Do you intrested in implemen

[2020-03-03 07:21] pierresouchay commented on #205
Hello @kinnalru ,

The endpoint already implemented in diplomat: https://github.com/WeAreFarmGeek/diplomat/blob/master/lib/diplomat/agent.rb#L31

It of course works only for a single agent (aka it find agent only for a single Consul Agent). For me, it has little usage as it is not really unique (it is unique ONLY per agent, not within cluster).

Still, the serviceID is available for the whole clus

[2020-03-03 08:30] kinnalru commented on #205
Yep. Thanx.

[2020-03-03 08:30] #205 closed

[2020-03-09 13:20] #157 closed

[2020-03-09 13:24] pierresouchay commented on #111
Closing it for now, feel free to re-open if it is a real need

[2020-03-09 13:24] #111 closed

[2020-03-09 13:26] pierresouchay commented on #117
This issue is old and no contribution nor comment on it. Closing it.
As explained this is linked to Consul attributes directly, changing it would break ascending compatibility. Feel free to provide a PR (and re-open this issue) if you want to fix it

[2020-03-09 13:26] #117 closed

[2020-03-09 13:27] pierresouchay commented on #101
@mseravalli do you still need this feature?

[2020-03-09 13:47] pierresouchay commented on #137
Documentation has been cleaned up in https://rubydoc.info/github/WeAreFarmGeek/diplomat, feel free to provide a Pull Request or exact issues in documentation, thank you!

[2020-03-09 13:47] #137 closed

[2020-04-19 20:55] rhughes1 opened #206 "Add support for Operator Autopilot API"
I've been trying to look through the documentation to find a way to pull the health of the cluster using the [Autopilot API](https://www.consul.io/api/operator/autopilot.html). In particular I'm looking to see if the nodes are voters or not.

Below would be an example of getting the current Autopilot configuration:

Below would be an example of what I was thinking it would look like for getting th

[2020-04-19 21:04] pierresouchay commented on #206
The API `/v1/agent/members` aka Diplomat::Members.get() also give you this information, with the tag `nonvoter": "1",`.

But if you want to do a PR to add support for Autopilot API feel free :)

[2020-05-12 22:32] pierresouchay commented on #206
@rhughes1 Did you find your way to implement what you wanted?

[2020-05-12 23:45] rhughes1 commented on #206
@pierresouchay believe I did...

Although I think I could open a PR for an autopilot endpoint. My only concern is being able to make valid unit tests :s

[2020-05-13 06:25] pierresouchay commented on #206
@rhughes1 If you don't know how to add unit test, try submitting it, we will help you write the unit tests

[2020-05-13 22:40] pierresouchay commented on #206
@rhughes1 Merge upstream and released as version 2.4.0 (will be available in rubygems in a few minutes).

If you want to add support for more endpoints of [Autopilot API](https://www.consul.io/api/operator/autopilot.html), feel free.

Thanks a lot for your contribution!

[2020-05-13 22:40] #206 closed

[2020-10-19 14:53] EugenMayer opened #211 "Due to faraday 1.1 release diplomat only works on ruby 2.4+"
we should limit faraday to <=1.0.x or change diplomats min ruby version to 2.4+

[2020-10-19 15:34] #211 closed

[2021-01-21 16:21] jebentier opened #212 "Unable to use multiple tags when querying for services"
Right now for example `Diplomat::Health.service` allows the passing of a `tag` option to filter the results from Consul. But this only accepts a single string today.  It would be nice to be able to pass this an array of strings so that you can pass multiple tags that are all required to exist on the registered service for it to be returned by Consul.  [Consul's API](https://www.consul.io/api-docs/

[2021-01-21 18:27] pierresouchay commented on #212
@jebentier Sure, feel free to submit a PR!

[2021-01-22 12:33] jebentier commented on #212
@pierresouchay That is great to hear, I've gone ahead and created PR #213

[2021-01-25 17:09] #212 closed

[2021-02-09 17:27] Sapr0 opened #214 "Bump faraday requirement"
Newer chef-client (16.9.29+) come embedded with `faraday 1.3.0` which breaks current `diplomat` gem due to the `faraday < 1.1.0` requirement and makes it unable to use during a chef-run.

Can you release `diplomat 3.0` major version with a higher faraday requirement and implicitly higher ruby requirement.
Whoever needs an old ruby can just pin the gem to the 2.4.4 version, after all that's why we

[2021-02-09 18:57] pierresouchay commented on #214
@Sapr0 Sure, can you propose a PR for that (I mean with the correct bumps and updated GEMs) ?

[2021-02-10 09:41] #214 closed

[2021-05-21 10:12] bustikiller opened #216 "Register HTTP checks"
### Why

Consul supports the configuration of multiple [types of checks](https://www.consul.io/docs/discovery/checks) to verify that services are up and running. In the [documentation](https://rubydoc.info/github/WeAreFarmGeek/diplomat/Diplomat/Check) of `Diplomat::Check` I see that `#register_script` and `#register_ttl` are implemented, while registration for other check kinds is missing.

### Wh

[2021-05-21 12:12] miklinux opened #217 "Add support for default datacenter"
It would be really helpful if the default datacenter could be set at configuration time
[code]
and all API calls would use that each time, unless overridden.

[2021-05-25 16:13] pierresouchay commented on #217
@miklinux Yes, that's a good idea, would you like to propose a PR, I'll be glad to review it

[2021-05-25 16:25] miklinux commented on #217
@pierresouchay Will look into it

[2021-05-25 16:52] pierresouchay commented on #216
@bustikiller Indeed, this is missing.
Would you like to propose a PR? I'll review it quickly.

Regards

[2021-05-25 19:24] bustikiller commented on #216
I would love to, I will try to find some time to prepare a PR and send it over to you.

Thanks!

[2021-06-09 07:37] bustikiller opened #218 "Broken link to API documentation"
The link to the rubydoc documentation seems to be broken. It used to work some days ago:

https://rubydoc.info/github/WeAreFarmGeek/diplomat

[2021-06-09 07:45] bustikiller opened #219 "Register entities via agent"
We have been using the method `Diplomat::Node.register` to register services in Consul using the Catalog HTTP API. However, the [documentation](https://www.consul.io/api-docs/catalog#register-entity) itself recommends using the agent endpoints instead for registration.

Is this supported by the Diplomat gem?

[2021-06-14 22:09] pierresouchay commented on #218
Hello @bustikiller ... the doc seems to work on my machine: https://rubydoc.info/github/WeAreFarmGeek/diplomat

Maybe someone did re-generated it, IIRC, there are path in https://rubydoc.info to regenerate it... seems ok anyway, feel-free to re-open it if it happens again

[2021-06-14 22:09] #218 closed

[2021-06-15 06:19] bustikiller commented on #218
Good morning!! I did re-generate it in an attempt to fix it - and it worked. If I see that happening again, I'll do it without opening a ticket. Thanks!

[2021-06-15 07:04] pierresouchay commented on #218
When I'll find some time I'll try to add a scheduled action to regenerate the doc periodically

[2021-07-13 12:24] miklinux commented on #217
Hi @pierresouchay,
here's the PR for reviewing!

https://github.com/WeAreFarmGeek/diplomat/pull/220

[2021-09-20 16:56] jebentier opened #221 "Add blocking read support for service health endpoint"
Currently blocking read was added to `Diplomat::Service.get`, but not to `Diplomat::Health.service`. It would be nice to have the ability to utilize the blocking read functionality when getting health status for services as well.

[2021-09-20 22:16] pierresouchay commented on #221
@jebentier Yes indeed, the abstraction are poor for waiting for changes, but as you found it, support has been added for `Service::get`. I would be glad to review it quickly and integrate it if you provide as PR.

Tell me if you need help

Regards

[2021-09-21 14:27] jebentier commented on #221
@pierresouchay Thank you for taking the time to respond. I've gone ahead and opened #222 with the necessary changes to port this functionality over. Please let me know if there is anything else that I can do.

[2021-09-26 09:22] #221 closed

[2021-09-26 09:51] pierresouchay commented on #221
@jebentier Thanks a lot for your contribution, very much appreciated!

I have merged it and created version 2.6.0, so you can use it easily.

FYI If you are watching a lot of Consul changes, you might also have a look at https://github.com/criteo/consul-templaterb which provides a much more hi-level API with many optimizations built-in (very efficient if you want to provide configuration files on

[2021-12-30 11:32] bustikiller commented on #216
@pierresouchay I am afraid I won't be able to take care of this development, sorry for the late reply

[2022-01-05 11:00] fquesnel opened #223 "Faraday 2.0.0 breaks diplomat"
In short: faraday 2.0.0 now requires to specify an adapter.

Currently, calling Datacenter::get results in the following error message:

Example stacktrace:

Known mitigation: use faraday <= 1.8.0

[2022-01-05 11:28] pierresouchay commented on #223
@fquesnel Do you think you might provide a patch to support both?

[2022-01-05 18:04] #223 closed

[2022-01-05 18:16] pierresouchay commented on #223
@fquesnel Issue fixed, released version 2.6.1 that enforce Faraday < 2.x
If you want to support Faraday 2.x, feel free to provide a PR!

Thanks for reporting the issue

[2022-01-06 09:21] fquesnel commented on #223
@pierresouchay thank you for quickly fixing the issue :slightly_smiling_face:

[2022-08-19 14:04] tlbraams opened #227 "Faraday 1.x can bypass Diplomat::QueryAlreadyExists"
Faraday 1 made changes to the `Faraday::ClientError`, introducing `Faraday::ServerError` (https://github.com/lostisland/faraday/blob/main/UPGRADING.md#errors)

This split the errors, with client errors now responsible for 4xx codes and server errors for 5xx codes.
The `Diplomat::Query#create` method only expects/handles client errors. As such, (some) errors that were previously caught and reported

[2022-08-19 20:09] pierresouchay commented on #227
@tlbraams what would you suggest? Do you feel doing a PR?

Regards

[2022-08-22 23:09] pierresouchay commented on #223
Since https://github.com/lostisland/faraday/blob/main/CHANGELOG.md#201-2022-01-05 has been released with https://github.com/lostisland/faraday/pull/1366, diplomat can now rely again on Faraday 2.0.1+

[2022-08-26 10:29] depesz opened #229 "Can't get it to work with auth token given in config"
So, I need to get some data from consul. To get consul key I'm using vault.

I tested my problem on diplomat 2.5.1 and 2.6.4.

This part is trivial-ish:

[code]

Now, if I'd *after* this code, do:

[code]

it works beautifully. But I don't want require mixed in code.

And If I'd move require to top of script (the rest stays the same), I'm getting:

[code]

So I tried to use confdiguration. Require

[2022-08-26 22:25] pierresouchay commented on #229
Hello @depesz,

I tested, this works for me.

Here are my reproduction steps...

# Steps

## Configure basic Consul with tokens:

### Create file consul-token.hcl:
[code]

### Start Consul with this file
[code]
### Configure ACLs
[code]
=>
[code]
=> Retrieve the token value displayed as SecretID => in this example 7f5ebb8b-a57c-9354-76ad-e2b2e29f56dd

## Create the test script

[code]

And make it

[2022-08-29 10:18] depesz commented on #229
Sooo. I can't do any tests, because appranently admins changed environment so that I can now query consul without providing token at all.

So, sorry about notice, this can be close (I'm closing the ticket), but right now all works with just:

[code]

[2022-08-29 10:54] pierresouchay commented on #229
@depesz still the steps I gave you let you test on your machine on a Consul agent in dev mode... (so, no need for infrastructure)

[2022-08-29 11:01] depesz commented on #229
While I understand, I have no idea how to setup consul. what it needs, what is dev mode and so on. I just have "consul" in prod environmetn, and need to get data out of it. which didn't work, but now it apparently does :) So, everything is well for me.

[2022-08-30 21:27] pierresouchay commented on #229
@depesz Just download it for your architecture and you are done: https://www.consul.io/downloads